<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="kafka" value="https://nuget.pkg.github.com/sexysingh8/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="kafka">
			<package pattern="Utility.Kafka" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
    <kafka>
    </kafka>
	</packageSourceCredentials>
</configuration>
